    #fee-payment-form {
      max-width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }

    /* Table css */
    table {
      display: none;
      margin: auto;
       right: auto;
       width:60%;
       text-align: center; 
       border-collapse: collapse;
      margin-left: 40%;
      
    }
  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }
  th {
      background-color: #f2f2f2;
  }