* {
    position: relative;
}

h1 {
    font-size: 1.3em;
}

#logo {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#sub-head {
    margin-top: 2%;
}

#receipt-info {
    position: absolute;
    top: 2%;
    right: 2%;
}

#Receipt {
    font-size: 3.9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr {
    margin-top: 2%;
}

#student-info {
    margin-top: 2%;
}